---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "One-Click Portfolio Generation",
    description:
      "Instantly create polished portfolios from your LinkedIn profile with just a single click.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Lightning-Fast Portfolio Pages",
    description:
      "Enjoy blazing-fast loading times for your portfolio pages, ensuring an optimal user experience.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Mobile-Friendly Design",
    description:
      "Experience seamless browsing on any device with a responsive design tailored for mobile compatibility.",
    icon: "bx:bxs-data",
  },
  {
    title: "Seamless LinkedIn Integration",
    description:
      "Connect your LinkedIn profile effortlessly to import data and streamline portfolio creation.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO-Friendly",
    description:
      "Enhance your online visibility with SEO-friendly portfolio pages that rank higher in search engine results.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Dynamic Templates",
    description:
      "Explore a diverse array of professionally designed templates tailored to your industry. Customize with ease for a unique portfolio presentation.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Elevate Your Portfolio Game
  </h2>
  <p class="text-lg mt-4 text-slate-600">
   Unveil the Power of Seamless Creation & Lightning-Fast Loading. Craft Your Perfect Online Presence in Minutes!
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
